@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:ital,wght@1,500&display=swap");

/* 1600px */
/* @media only screen and (max-width:100em){

} */

/* 650px */
/* @media only screen and (max-width: 40.62em) {
  
} */

/* 450px */
/* @media only screen and (max-width: 28.12em) {
} */

/* 1440px */
/* @media only screen and (max-width: 90em) {
} */

/* 1000px */
/* @media only screen and (max-width: 62.5em) {
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Nunito", sans-serif;
}

#root {
  width: 100dvw;
  height: 100dvh;
  /* transition: all 0.3s; */
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 40.62em) {
  html {
    font-size: 45%;
  }
}

/* 500px */
/* @media only screen and (max-width: 31.25em) {
  
} */

.app {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    #faedcd,
    #efdbb5,
    #e6c89e,
    #ddb688,
    #d4a373
  );
}
@media only screen and (max-width: 100em) {
  .app {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 68.75em) {
  .app {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 40.62em) {
  .app {
    padding: 0 0 30rem 0;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 31.25em) {
  .app {
    padding: 0;
    justify-content: space-evenly;
    padding-bottom: 15rem;
  }
}

@media only screen and (max-width: 28.12em) {
  .app {
    justify-content: flex-start;
    padding-bottom: 0;
  }
}

.header {
  text-align: center;
  font-size: 7rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: inline-block;
  position: relative;
  padding: 1rem 5rem;
  border-radius: 5px;
  background-image: linear-gradient(
    to right bottom,
    rgb(250 85 85),
    rgb(255 201 85)
  );
  color: rgb(53, 53, 53);
  box-shadow: 4px 4px 8px #00000046;
  letter-spacing: 15px;
  font-weight: bold;
  margin-left: 14rem;
}
@media only screen and (max-width: 100em) {
  .header {
    margin-bottom: 2.5rem;
  }
}

/* 850px */
@media only screen and (max-width: 53.12em) {
  .header {
    margin-left: 10rem;
    font-size: 4rem;
  }
}

@media only screen and (max-width: 28.12em) {
  .header {
    font-size: 6rem;
    margin-left: 3rem;
  }
}
@media only screen and (max-width: 23.75em) {
  .header {
    font-size: 4rem;
  }
}

.header-replay {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 40rem;
}

@media only screen and (max-width: 53.12em) {
  .header-replay {
    padding: 0;
  }
}

.game-container {
  display: grid;
  grid-template-columns: min-content min-content;
}
@media only screen and (max-width: 100em) {
  .game-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 28.12em) {
  .game-container {
    width: 100dvw;
    height: 100dvh;
    /* height: 120dvh; */
    padding: 5rem 0 13rem 0;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: repeat(3, 20rem);
  text-align: center;
  margin-right: 5rem;
  margin-left: 20rem;
  box-shadow: 6px 6px 14px #00000046;
  outline: 5px dashed #101010b2;
  outline-offset: 1rem;
}

@media only screen and (max-width: 100em) {
  .grid-container {
    grid-template-rows: repeat(3, 17rem);
    grid-template-columns: repeat(3, minmax(17rem, 30rem));
    margin-left: 0;
    margin-bottom: 3rem;
    margin-right: 0;
  }
}

/* @media only screen and (max-width: 90em) {
  .grid-container {
    grid-template-rows: repeat(3, 17rem);
    grid-template-columns: repeat(3, minmax(17rem, 30rem));
  }
} */

@media only screen and (max-width: 68.75em) {
  .grid-container {
    outline: none;
  }
}

@media only screen and (max-width: 28.12em) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
    grid-template-rows: repeat(3, minmax(15rem, 1fr));
  }
}
@media only screen and (max-width: 23.75em) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(12rem, 1fr));
    grid-template-rows: repeat(3, minmax(10rem, 1fr));
  }
}

/* 380px */
/* @media only screen and (max-width: 23.75em) {
  
} */

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12rem;
  padding: 5rem;
  border: none;
  border-bottom: 3px solid #101010b2;
  border-right: 3px solid #101010b2;
  transition: all 0.3s;
  color: rgb(53, 53, 53);
  background-color: rgb(255, 201, 85);
  font-weight: bold;
}

/* Button deneme */
.grid-cell {
  cursor: pointer;
  font-size: 12rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: none;
  border-bottom: 3px solid #101010b2;
  border-right: 3px solid #101010b2;
  padding: 0.8rem 2.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: rgb(255, 201, 85);
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.grid-cell:hover {
  border: none;
  background-color: beige;
  cursor: pointer;
  transform: translateY(-6px);
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.8));
  background-position: 40%;
}

/* BUTTON DENEME ///////////////////////////////////////////////////// */

.grid-cell:nth-child(3),
.grid-cell:nth-child(6),
.grid-cell:nth-child(9) {
  border-right: none;
}

.grid-cell:nth-child(7),
.grid-cell:nth-child(8),
.grid-cell:nth-child(9) {
  border-bottom: none;
}
@media only screen and (max-width: 53.12em) {
  .grid-cell {
    background-image: none;
  }
}

@media only screen and (max-width: 28.12em) {
  .grid-cell {
    padding: 0;
    font-size: 10rem;
    font-weight: 300;
  }
}

@media only screen and (max-width: 23.75em) {
  .grid-cell {
    font-size: 7rem;
  }
}

.grid-cell-blocked {
  background-color: #ff6961;
}

.grid-cell-winner {
  transform: translateY(-8px);
  background-color: #80a65f;
  animation: winnerAnimation 1.5s infinite;
  backface-visibility: hidden;
  color: white;
}

.winner-name {
  color: #101010c2;
  font-weight: bold;
  text-decoration: underline;
}

@keyframes winnerAnimation {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.grid-cell:hover {
  border: none;
  background-color: beige;
  cursor: pointer;
  transform: translateY(-6px);
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.8));
}
.grid-cell:active {
  transform: translateY(-2px);
}

.players-container {
  display: grid;
  grid-template-columns: 25rem;
  align-content: space-around;
  background-color: #101010da;
  box-shadow: 3px 3px 4px #00000046, -3px -3px 4px #00000046;
  border-radius: 5px;
}
@media only screen and (max-width: 100em) {
  .players-container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 3rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .players-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 40rem;
    margin: 0 auto;
  }
}

.players {
  font-size: 2rem;
  text-align: center;
  color: white;
}

.player-name {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s;
}

.player-turn {
  font-size: 3rem;
}

.player-score {
  color: #ff6961;
}

.active {
  color: rgb(255, 201, 85);
  scale: 1.1;
  transform: translateY(3px);
}

.replay-button {
  background-image: linear-gradient(
    to left bottom,
    rgb(250 85 85),
    rgb(255 201 85)
  );
  border: none;
  padding: 1.5rem 4rem;
  box-shadow: 4px 4px 8px #00000046;
  cursor: pointer;
  font-size: 4rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: rgb(53 53 53 / 85%);
  transition: all 0.3s;
  border-radius: 3px;
  margin-left: 2rem;
  outline: 4px solid transparent;
}
@media only screen and (max-width: 90em) {
  .replay-button {
    font-size: 3rem;
  }
}

/* 850px */
@media only screen and (max-width: 53.12em) {
  .replay-button {
    font-size: 2rem;
    padding: 1.2rem 3rem;
  }
}

.replay-button:hover {
  transform: translateY(-5px);
  box-shadow: 4px 8px 8px #00000046;
  background-color: rgb(53, 53, 53);
  color: #fff;
}

.replay-button:active {
  box-shadow: 2px 2px 6px #00000046;
  transform: translateY(0);
}

.replay-button:focus {
  outline: 4px solid #efdbb5;
}

/* MODAL */

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* Modal Container */
.modal {
  background-color: #efdbb5;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 40dvw;
  text-align: center;
  position: relative;
}

/* Close Button */
.close {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 40px;
  color: #101010da;
  top: 0;
}

/* Modal Content */
.modal-content {
  margin-top: 10px;
}

.modal-text {
  font-size: 8rem;
  color: #7c8b47;
  font-weight: bold;
}
@media only screen and (max-width: 62.5em) {
  .modal-text {
    font-size: 6rem;
  }

  .close {
    font-size: 30px;
  }
}

/* 450px */
@media only screen and (max-width: 28.12em) {
  .modal-text {
    font-size: 4rem;
  }

  .close {
    font-size: 25px;
  }
}

/* Modal opening situation */
.modal-appear {
  opacity: 0;
  z-index: 1;
  transform: scale(0.8);
}

.modal-appear-done {
  opacity: 0;
  transform: scale(1);
}

.modal-enter {
  transform: scale(0.8);
}

.modal-enter-done {
  opacity: 1;
  transition: all 300ms;
  transform: scale(1);
}

/* Modal closing situation */
.modal-exit {
  opacity: 1;
}

.modal-exit .modal-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}
