@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:ital,wght@1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 62.5%;
}

.app {
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    #faedcd,
    #efdbb5,
    #e6c89e,
    #ddb688,
    #d4a373
  );
  height: 100dvh;
}

.header {
  text-align: center;
  font-size: 7rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 1rem 5rem;
  border-radius: 5px;
  background-color: rgb(255, 201, 85);
  color: rgb(53, 53, 53);
  box-shadow: 4px 4px 8px #00000046;
  letter-spacing: 15px;
  font-weight: bold;
}

.game-container {
  display: grid;
  grid-template-columns: min-content min-content;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: repeat(3, 20rem);
  text-align: center;
  width: max-content;
  margin-right: 5rem;
  margin-left: 20rem;
  box-shadow: 6px 6px 14px #00000046;
  outline: 5px dashed #101010b2;
  outline-offset: 1rem;
}

.grid-cell:nth-child(3),
.grid-cell:nth-child(6),
.grid-cell:nth-child(9) {
  border-right: none;
}

.grid-cell:nth-child(7),
.grid-cell:nth-child(8),
.grid-cell:nth-child(9) {
  border-bottom: none;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12rem;
  padding: 5rem;
  border: none;
  border-bottom: 3px solid #101010b2;
  border-right: 3px solid #101010b2;
  transition: all 0.3s;
  color: rgb(53, 53, 53);
  background-color: rgb(255, 201, 85);
}

.grid-cell:hover {
  border: none;
  background-color: beige;
  cursor: pointer;
  transform: translateY(-8px);
}

.players-container {
  display: grid;
  grid-template-columns: 25rem;
  align-content: space-around;
  background-color: #101010b2;
  box-shadow: 3px 3px 4px #00000046, -3px -3px 4px #00000046;
  border-radius: 5px;
  outline: 5px double #101010b2;
  outline-offset: 3px;
}

.players {
  font-size: 2rem;
  text-align: center;
  color: white;
}

.player-name {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 8px double rgb(255, 201, 85);
}
